sudo: true
dist: trusty

jobs:
  include:
    - stage: unit tests
      language: python
      python:
        - "2.7"
        - "3.4"
        - "3.5"
        - "3.6"
      install: pip install tox-travis
      script: tox
    - stage: build docker image
      script:
      - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" quay.io --password-stdin
      - docker build -t quay.io/$DOCKER_USERNAME/challenge .
      - docker push $DOCKER_USERNAME/challenge