sudo: true
dist: trusty

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
language: python
install: pip install tox-travis
script: tox
      
jobs:
  include:
    - stage: build docker image
      language: none
      script:
      - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" quay.io --password-stdin
      - docker build -t quay.io/$DOCKER_USERNAME/challenge -f Dockerfile_app .
      - docker push quay.io/$DOCKER_USERNAME/challenge